@model IEnumerable<Auktion.Models.Auctions.AuctionVm>

@{
    ViewData["Title"] = "Manage Auctions";
}

<h1 class="mb-4">Manage Auctions</h1>

<div class="card shadow-sm mb-4">
    <div class="card-header">
        <h5 class="card-title">Auction List</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Starting Price</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var auction in Model)
            {
                <tr>
                    <td>@auction.Title</td>
                    <td>@auction.Description</td>
                    <td>@auction.StartingPrice</td>
                    <td>@auction.StartTime</td>
                    <td>@auction.EndTime</td>
                    <td>
                        <form asp-area="" asp-controller="Admin" asp-action="DeleteAuction" asp-route-id="@auction.AuctionId" method="get" style="display:inline;">
                            <button type="submit" class="btn btn-link text-primary p-0" style="text-decoration: underline;">Delete</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>