@using Auktion.Models.Auctions
@model Auktion.Models.Auctions.AuctionVm

@{
ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auction Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartPrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>

<p />
<div>
    <h4>Bids</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bids.FirstOrDefault().Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bids.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayName("User ID")
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var bid in Model.Bids)
        {
        <tr>
            <td>
                @Html.DisplayFor(_ => bid.Amount)
            </td>
            <td>
                @Html.DisplayFor(_ => bid.Date)
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
