@using Microsoft.AspNetCore.Identity
@model Auktion.Models.Auctions.AuctionVm

@{
ViewData["Title"] = "Auction Details";

var loggedInUserId = User?.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
var creatorUserId = ViewBag.CreatorUserId as string;
var bidderNames = ViewBag.BidderNames as Dictionary<string, string>;
}

<h1>Auction Details</h1>

<div>
    <h4>Auction Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>

<p />

<div>
    <h4>Bids</h4>
    @if (Model.Bids != null && Model.Bids.Any())
    {
    <table class="table">
        <thead>
        <tr>
            <th>Bidder Name</th>
            <th>@Html.DisplayNameFor(model => Model.Bids.First().Amount)</th>
            <th>@Html.DisplayNameFor(model => Model.Bids.First().Time)</th>
        </tr>
        </thead>
        <tbody>
        @{
        var bidUserIds = ViewBag.BidUserIds as List<string>;
        var bidsList = Model.Bids.ToList(); 
        }

        @for (int i = 0; i < bidsList.Count; i++)
        {
        var bid = bidsList[i];
        var userId = bidUserIds?[i];
        var bidderName = ViewBag.BidderNames != null && userId != null && ViewBag.BidderNames.ContainsKey(userId)
        ? ViewBag.BidderNames[userId]
        : "Unknown";
        <tr>
            <td>@bidderName</td>
            <td>@Html.DisplayFor(_ => bid.Amount)</td>
            <td>@Html.DisplayFor(_ => bid.Time)</td>
        </tr>
        }
        </tbody>
    </table>
    }
    else
    {
    <p>No bids have been placed yet.</p>
    }
</div>



<div>
    <!-- Show "Place a Bid" only if the logged-in user is not the creator -->
    @if (creatorUserId != loggedInUserId)
    {
    <a asp-action="PlaceBid" asp-route-id="@Model.AuctionId" class="btn btn-primary">Place a Bid</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
